body{
    height: 100vh;
}


.hero{
    background-color: #FF871F;
    max-height: 49%;
    display: flex;
    justify-content: center;

}

.logo{
    height: 27rem;
    position: relative;
    top: -18px;
    left: 50px;
    z-index: 20;
    filter: drop-shadow(0 0 0.75rem black);
}

