/* GOOGLE FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans:ital,wght@0,700;1,400&family=Luckiest+Guy&family=Source+Serif+Pro:wght@200;300&display=swap');



body {
    height: 100vh;
    background:
      url(assets/logo150.png) repeat;
      background-position: center;
    }





h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    text-align: center;
    color: white;
    margin: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    /* text-shadow: 3px 3px 2px black; */
 
}


/* CENTERING */

.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
}


.about{
    display: flex;
    flex-direction: column;
    padding:1em;
    background-color:rgba(174, 216, 230, 0.9);
    border-radius: 30px;
    margin-top:.5em;
}

.about p{
    margin-left: .5em;
    margin-right: .5em;

}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    padding: .5em;
}

.links a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: underline;
    padding: .5em;
}




.past{
    margin-top: 1em;
    padding: 0.5em;
    background-color:rgba(174, 216, 230, 0.9);
    border-radius: 30px;

}



.menus{
    display: flex;
    flex-direction: column;
    align-items:center;
}


.menus img{
    max-width:22em;
    padding: .5em;
}


/*  iPHONE PORTRAIT */
@media only screen and (max-width: 414px) {
    .main h1 {
        font-size: 235%;
        /* margin:0; */
    }
  }
















