/* GOOGLE FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans:ital,wght@0,700;1,400&family=Luckiest+Guy&family=Source+Serif+Pro:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');

body {
    height: 100vh;
    background:
        url(assets/logo150-faded.png) repeat;
    background-position: center;

}





h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 4.5rem;
    text-align: center;
    margin: 0;


    color: #bc2e1e;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;


}


/* CENTERING */

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    margin: auto;
}


.about {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 30px;
    margin-top: 3em;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.about p {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 94%;



}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;


}



.links a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
    padding: .5em;

}

.links a:hover {
    color: inherit;
    /* blue colors for links too */
    text-decoration: underline;
    padding: .5em;
}




.past {
    margin-top: .5em;
    color: #bc2e1e;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
    font-size: 4.5rem;

}



.menus {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75%;
    background-color: beige;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px solid #000000;
    /* inner shadow */
    box-shadow: rgba(0, 0, 0, 43%) 0px 2px 4px 0px inset;






}

.menu-card p {
    margin: 0;

}


.menu-card h2 {
    font-family: 'Comfortaa', cursive;
    margin-bottom: .5rem;
}

.menu-card h3 {
    font-family: 'Comfortaa', cursive;
    margin-bottom: .5rem;
}

.menu-card p {
    font-family: 'Source Sans Pro', sans-serif;
}

.italic {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;



}

.menu-card h2{
    text-decoration: underline;
}





/*  iPHONE PORTRAIT */
@media only screen and (max-width: 414px) {
    .main h1 {
        font-size: 245%;
    }

    .about p {
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        text-align: justify;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 85%;

    .links a {
        color: inherit;
        text-decoration: inherit;
        padding: 0.5em;
        font-size: 97%;


    .menu-card h2{
        font-size: 112%;
    }

    .menu-card h3{
        font-size: 95%;
    }

    .menu-card p{
        font-size: 80%;
    }
}


/* iPAD MINI */

@media only screen and (max-width: 768px) {
    .main h1 {
        font-size: 250%;
    }

}



@media only screen and (min-width: 1166px) {
    .about {



        display: flex;
        flex-direction: column;
        padding: 1em;
        background-color: rgba(255, 255, 255, 0.93);
        border-radius: 30px;
        margin-top: .5em;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;




        max-width: 62%;
    }
}